<div class="info-popup">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped">
                <tbody>
                    <tr>
                        <td class="key">Store</td>
                        <td>{{store}}</td>
                    </tr>
                    <tr>
                        <td class="key">Store Manager</td>
                        <td>{{store-manager}}</td>
                    </tr>
                    <tr>
                        <td class="key">Phone</td>
                        <td>
                            <a href="tel:+64 123 456 789">
                                <i class="fa fa-phone"></i>
                                {{phone}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
