<!--<div class="sprite callout" style="visibility: inherit; opacity: 1; -webkit-transform: translate3d(0px, 0px, 1px);">-->
<div class="">
    <header class="info-header"><i class="fa fa-dollar"></i> Valuation</header>
    <div class="inner info-popup">
        <div class="col-md-12">
            <table class="table table-condensed table-striped">
                <tbody>
                    <tr>
                        <td class="key">Valuation Date:</td>
                        <td>{{val_date_human}}</td>
                    </tr>
                    
                    <tr>
                        <td class="key">Floor Area</td>
                        <td>{{floor_area}}m<sup>2</sup></td>
                    </tr>

                    <tr>
                        <td class="key">Land Area</td>
                        <td>{{land_area}}m<sup>2</sup></td>
                    </tr>
                    
                    <tr>
                        <td class="key">Land Area</td>
                        <td>{{land_area}}m<sup>2</sup></td>
                    </tr>

                    <tr>
                        <td class="key">CV</td>
                        <td>{{cv}}</td>
                    </tr>

                    <tr>
                        <td class="key">IV</td>
                        <td>{{iv}}</td>
                    </tr>

                    <tr>
                        <td class="key">LV</td>
                        <td>{{lv}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="subscribe">
            <span><a href="#">More details</a></span>
        </div>
    </div>
</div>
