<div style="overflow: hidden; width: 500px; height: 300px;">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
      <li><a href="#performance" data-toggle="tab">Performance</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="info">
          <div class="info-popup">
            <div class="row">
                    <div class="col-md-12">
                        <table class="table table-condensed table-striped">
                            <tbody>
                                <tr>
                                    <td class="key">Territory</td>
                                    <td>{{territory}}</td>
                                </tr>
                                <tr>
                                    <td class="key">Region Owner</td>
                                    <td>{{region-owner}}</td>
                                </tr>
                                <tr>
                                    <td class="key">YTD Gross</td>
                                    <td>{{ytd-gross}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="performance">
        <h4>Year to date breakdown</h4>
            <div class="row">
              <div class="col-md-9">
                  <canvas id="popupChart{{chartCounter}}" width="400" height="200"></canvas>
              </div>
              <div class="col-md-3">
                <span style="color: rgba(151,187,205,1)">&#9608;</span> {{territory}} Sales<br>
                <span style="color: rgba(220,220,220,1)">&#9608;</span> Median Sales<br>
               </div>
            </div>
      </div>
    </div>
</div>
